<section class="welcome_area p_120">
  <div class="container">
    <div class="row welcome_inner">
      <div class="col-lg-12">
        <div class="welcome_text">
          <h4>Sobre</h4>
          <p>
            Sou um desenvolvedor de software para web com mais de 8 anos de
            experiência, desenvolvendo aplicações web para educação. Tenho
            Bacharelado em Ciência da Computação e trabalho com as tecnologias
            C#, SQL, JavaScript, AngularJs e Angular. Sou um intusiasta com
            capacidade comprovada para alavancar várias tecnologias para
            construir aplicativos interativos e inovadores.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
