<section class="mytabs_area p_120">
  <div class="container">
    <div class="tabs_inner">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link active"
            id="home-tab"
            data-toggle="tab"
            href="#home"
            role="tab"
            aria-controls="home"
            aria-selected="true"
            >Experiecia</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="profile-tab"
            data-toggle="tab"
            href="#profile"
            role="tab"
            aria-controls="profile"
            aria-selected="false"
            >Cursos</a
          >
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="home"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <ul class="list">
            <li>
              <span></span>
              <div class="media">
                <div class="d-flex">
                  <p>jul 2016 - Presente</p>
                </div>
                <div class="media-body">
                  <h4>Miltec</h4>
                  <div
                    style="margin-top: -20px; color: #fff; font-size: 15px; line-height: 1; margin-bottom: 5px; "
                  >
                    Tecnologia da Informação
                  </div>
                  <p>
                    - Analista de Sistemas<br />
                    - SQL, C#, MVC<br />
                    - Html, Css, AngularJS<br />
                    - Angular, ionic
                  </p>
                </div>
              </div>
            </li>
            <li>
              <span></span>
              <div class="media">
                <div class="d-flex">
                  <p>jul 2015 - jul 2016</p>
                </div>
                <div class="media-body">
                  <h4>SGI</h4>
                  <div
                    style="margin-top: -20px; color: #fff; font-size: 15px; line-height: 1; margin-bottom: 5px; "
                  >
                    Superintendência de Gestão da Informação - MS
                  </div>
                  <p>
                    - Analista de Sistemas<br />
                    - SQL, C#, MVC<br />
                    - Html, Css, AngularJS
                  </p>
                </div>
              </div>
            </li>

            <li>
              <span></span>
              <div class="media">
                <div class="d-flex">
                  <p>out 2011 - jul 2015</p>
                </div>
                <div class="media-body">
                  <h4>SED</h4>
                  <div
                    style="margin-top: -20px; color: #fff; font-size: 15px; line-height: 1; margin-bottom: 5px; "
                  >
                    Secretaria de Estado de Educação
                  </div>
                  <p>
                    - Analista de Sistemas<br />
                    - Scrum Master<br />
                    - SQL, C#, WebForms<br />
                    - Html, Css, Jquery
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div
          class="tab-pane fade"
          id="profile"
          role="tabpanel"
          aria-labelledby="profile-tab"
        >
          <ul class="list">
            <li>
              <span></span>
              <div class="media">
                <div class="d-flex">
                  <p>jan 2006 - dez 2010</p>
                </div>
                <div class="media-body">
                  <h4>FCG</h4>
                  <div
                    style="margin-top: -20px; color: #fff; font-size: 15px; line-height: 1; margin-bottom: 5px; "
                  >
                    Faculdade Campo Grande
                  </div>
                  <p>
                    Ciência da Computação
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
