<section class="mytabs_area p_120" id='experience'>
  <div class="container">
    <div class="tabs_inner">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link active"
            id="experience-tab"
            data-toggle="tab"
            href="#experience"
            role="tab"
            aria-controls="experience"
            aria-selected="true"
            >{{experience.title}}</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="education-tab"
            data-toggle="tab"
            href="#education"
            role="tab"
            aria-controls="education"
            aria-selected="false"
            >{{education.title}}</a
          >
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="experience"
          role="tabpanel"
          aria-labelledby="experience-tab"
        >
          <ul class="list">
            <li *ngFor="let experience of experience.itens">
              <span></span>
              <div class="media">
                <div class="d-flex">
                  <p>{{experience.start}} - {{experience.end}}</p>
                </div>
                <div class="media-body">
                  <h4>{{experience.title}}</h4>
                  <div
                    style="margin-top: -20px; color: #fff; font-size: 15px; line-height: 1; margin-bottom: 5px; "
                  >
                    {{experience.subTitle}}
                  </div>
                  <p>
                    {{experience.description}}
                  </p>
                </div>
              </div>
            </li>
            
          </ul>
        </div>
        <div
          class="tab-pane fade"
          id="education"
          role="tabpanel"
          aria-labelledby="education-tab"
        >
          <ul class="list">
            <li *ngFor="let education of education.itens">
              <span></span>
              <div class="media">
                <div class="d-flex">
                  <p>{{education.start}} - {{education.end}}</p>
                </div>
                <div class="media-body">
                  <h4>{{education.title}}</h4>
                  <div
                    style="margin-top: -20px; color: #fff; font-size: 15px; line-height: 1; margin-bottom: 5px; "
                  >
                    {{education.subTitle}}
                  </div>
                  <p>
                    {{education.description}}
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
