<section class="testimonials_area p_120" id="projects">
  <div class="container">
    <div class="main_title">
      <h2>{{ project.title }}</h2>
      <p>{{ project.description }}</p>
    </div>
    <div class="testi_inner">
      <div class="testi_slider owl-carousel">
        <div class="item" *ngFor="let item of project.itens">
          <div class="testi_item">
            <h4>{{ item.title }}</h4>
            <p>{{ item.description }}</p>
            <img [src]="item.imgUrl" />
            <a [href]="item.projectUrl" target="_blank">Ver</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
