<section class="testimonials_area p_120">
  <div class="container">
    <div class="main_title">
      <h2>Projetos</h2>
      <p>
        Alguns dos meus projetos pessoais, para treinamento de tecnologias e compartilhar com a comunidade
      </p>
    </div>
    <div class="testi_inner">
      <div class="testi_slider owl-carousel">
        <div class="item">
          <div class="testi_item">
            <h4>Ionic - Livros</h4>
            <p>
              Projeto com o framework Ionic 4 para registros de livros lidos
            </p>
            <img src="../../assets/img/elements/a.jpg">
            <a href="#">Ver</a>
          </div>
        </div>
        <div class="item">
          <div class="testi_item">
            <h4>Currículo</h4>
            <p>Projeto em Angular para web site profissional</p>
            <img src="../../assets/img/elements/a.jpg">
            <a href="#">Ver</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
