<section class="home_banner_area" id='home' *ngIf='homeModel'>
  <div class="container box_1620">
    <div class="banner_inner d-flex align-items-center">
      <div class="banner_content">
        <div class="media">
          <div class="d-flex">
            <img [src]="homeModel.personal.profileImgUrl" alt="" />
          </div>
          <div class="media-body">
            <div class="personal_text">
              <h6>{{ homeModel.personal.greeting }}</h6>
              <h3>{{ homeModel.personal.fullName }}</h3>
              <h4>{{ homeModel.personal.ocupation }}</h4>
              <p>
                {{ homeModel.personal.description }}
              </p>
              <ul class="list basic_info">
                <li>
                  <a href="#"
                    ><i class="lnr lnr-calendar-full"></i>
                    {{ homeModel.personal.birthDate }}</a
                  >
                </li>
                <li>
                  <a href="#"
                    ><i class="lnr lnr-phone-handset"></i>
                    {{ homeModel.personal.phoneNumber }}</a
                  >
                </li>
                <li>
                  <a href="#"
                    ><i class="lnr lnr-envelope"></i> {{ homeModel.personal.email }}</a
                  >
                </li>
                <li>
                  <a href="#"
                    ><i class="lnr lnr-home"></i> {{ homeModel.personal.location }}</a
                  >
                </li>
              </ul>
              <ul class="list personal_social">
                <li *ngFor="let social of homeModel.listSocial">
                  <a
                    [href]="social.url"
                    target="_blank"
                    ><i [class]="social.icon"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
