<!--================Home Banner Area =================-->
<section class="home_banner_area">
    <div class="container box_1620">
      <div class="banner_inner d-flex align-items-center">
 <div class="banner_content">
   <div class="media">
     <div class="d-flex">
       <img src="assets/img/profile.jpg" alt="">
     </div>
     <div class="media-body">
       <div class="personal_text">
         <h6>Olá, eu sou</h6>
         <h3>Marcelo Queiroz</h3>
         <h4>Analista de Sistema Pleno</h4>
         <p>Full Stack Developer com mais de 8 anos de experiência, trabalhando em aplicações web para educação</p>
         <ul class="list basic_info">
           <li><a href="#"><i class="lnr lnr-calendar-full"></i> 21 de março, 1982</a></li>
           <li><a href="#"><i class="lnr lnr-phone-handset"></i> 55 (67) 99252 2442</a></li>
           <li><a href="#"><i class="lnr lnr-envelope"></i> marceloqueirozchagas@hotmail.com</a></li>
           <li><a href="#"><i class="lnr lnr-home"></i> Campo Grande - MS - Brasil</a></li>
         </ul>
         <ul class="list personal_social">
           <li><a href="https://www.linkedin.com/in/marcelo-queiroz-636307a9" target="_blank"><i class="fa fa-linkedin"></i></a></li>
           <li><a href="https://github.com/marceloqueirozchagas" target="_blank"><i class="fa fa-github"></i></a></li>
           <li><a href="https://www.facebook.com/marcelo.queiroz.125" target="_blank"><i class="fa fa-facebook" ></i></a></li>
           <li><a href="https://twitter.com/smartcelo3" target="_blank"><i class="fa fa-twitter"></i></a></li>
         </ul>
       </div>
     </div>
   </div>
 </div>
 </div>
   </div>
 </section>
 <!--================End Home Banner Area =================-->
